@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #67d4cb;
    font-family: "Roboto", sans-serif;
}

.p-container {
    width: 100%;
    max-width: 1340px;
    padding: 0px 20px;
    margin: 0 auto;
}

.logo-wrap{
    display: flex;
    justify-content: center;
}

.logo {
    width: 80%;
    margin: 0 auto;
}

.card-list {
    display: grid;
    padding-left: 0;
    list-style: none;
}

.card-item {
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #565656;
    background-color: #B2B21196;
}

.title-wrap {
    padding: 15px 0px;
    background-color: #e8eaef;
    border-radius: 4px 4px 0px 0px;
}

.title{
    text-transform: capitalize;
}

.img-wrap {
    padding: 20px 8px;
    background-color: #dfdede;
}

.subtitle-wrap {
    padding: 15px 10px;
}

.time-wrap {
    position: absolute;
    right: 0px;
    bottom: 183px;
    padding: 2px 5px;
    border-radius: 20px;
    transform: translateX(50%);
    font-size: 12px;
    font-weight: 700;
    background-color: #dada1e;
}


@media only screen and (min-width: 600px) {
    .card-list{
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .card-list{
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 50px;
    }
}

@media only screen and (min-width: 992px) {
    .card-list{
        justify-content: space-between;
        grid-template-columns: repeat(4, 280px);
    }
}